Source: safecoin
Section: utils
Priority: optional
Maintainer: Safecoin <safe@safecoin.org>
Homepage: https://safecoin.org/
Build-Depends: autoconf, automake, bsdmainutils, build-essential,
 git, g++-multilib, libc6-dev, libtool,
 m4, ncurses-dev, pkg-config, python,
 unzip, wget, zlib1g-dev
Vcs-Git: https://github.com/Fair-Exchange/safecoin
Vcs-Browser: https://github.com/Fair-Exchange/safecoin

Package: safecoin
Architecture: amd64
Depends: ${shlibs:Depends}
Description: Safecoin (SAFE) full node. The future is multi-chain.
 This package provides the daemon, safecoind, and the CLI tool,
 safecoin-cli, to interact with the daemon.
